name: 02 - Release

on:
  push:
    tags:
      - 'v*'

jobs:

  build:
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: write

    steps:
    - name: Checkout current code
      uses: actions/checkout@v6

    - name: Set up Ruby
      uses: ruby/setup-ruby@v1
      with:
        ruby-version: '3.4'
        bundler: latest
        bundler-cache: true
        cache-version: 1

    - name: Build gem
      run: gem build *.gemspec

    - name: Push to Rubygems
      uses: rubygems/release-gem@v1
